@page
@model FrontEnd.Pages.Admin.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password(Admin)";
}

@section scripts
    {
    <link rel="stylesheet" href="~/css/signup.css" />
}

<h1>Change Password(Admin)</h1>

<div class="signupcontainer">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="editUser.ID" type="hidden" />
        <input asp-for="editUser.UserName" type="hidden" />
        <input asp-for="editUser.UserType" type="hidden" />
        <input asp-for="editUser.FirstName" type="hidden" />
        <input asp-for="editUser.LastName" type="hidden" />
        <input asp-for="editUser.Rating" type="hidden" />
        <input asp-for="editUser.CreatedDate" type="hidden" />
        <input asp-for="editUser.LastLogin" type="hidden" />
        <label style="margin-top:10px;"><b>Changing Password for User @Model.editUser.UserName</b></label><br />    
        <label style="margin-top:10px;"><b>New Password:</b></label>
        <div class="input-group input-group-icon">
            <input asp-for="editUser.Password" type="password" />
            <div class="input-icon"><i class="fa fa-lock"></i></div>
        </div>
        <button type="submit" class="button buttonBlue">
            Save
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
    @if (ViewData["Message"] != null)
    {
        <p class="text-success">@ViewData["Message"]&#33; <a asp-area="" asp-page="./Index">Back To Home</a></p>
    }
    @Html.AntiForgeryToken()
</div>