@page
@model FrontEnd.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

@section scripts
    {
    <link rel="stylesheet" href="~/css/signup.css" />
}

<h1>Change Password</h1>

<div class="signupcontainer">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="editUser.ID" type="hidden" />
        <input asp-for="editUser.UserName" type="hidden" />
        <input asp-for="editUser.UserType" type="hidden" />
        <input asp-for="editUser.FirstName" type="hidden" />
        <input asp-for="editUser.LastName" type="hidden" />
        <input asp-for="editUser.Rating" type="hidden" />
        <input asp-for="editUser.CreatedDate" type="hidden" />
        <input asp-for="editUser.LastLogin" type="hidden" />
        <input asp-for="editUser.Password" type="hidden" />
        <label style="margin-top:10px;"><b>Old Password:</b></label>
        <div class="input-group input-group-icon">
            <input asp-for="oldpassword" type="password" />
            <div class="input-icon"><i class="fa fa-lock"></i></div>
        </div>
        <label style="margin-top:10px;"><b>New Password:</b></label>
        <div class="input-group input-group-icon">
            <input asp-for="newpassword1" type="password" />
            <div class="input-icon"><i class="fa fa-lock"></i></div>
        </div>
        <label style="margin-top:10px;"><b>Confirm New Password:</b></label>
        <div class="input-group input-group-icon">
            <input asp-for="newpassword2" type="password" />
            <div class="input-icon"><i class="fa fa-lock"></i></div>
        </div>
        <button type="submit" class="button buttonBlue">
            Save
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
    @if (ViewData["Message"] != null)
    {
        <p class="text-success">@ViewData["Message"]&#33; <a asp-area="" asp-page="/Index">Back To Home</a></p>

    }
    @Html.AntiForgeryToken()
</div>