@page
@model FrontEnd.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
@section scripts
{
    <link rel="stylesheet" href="~/css/login.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: 'Login/?handler=DeleteExistingCookie',
                success: function (data) {
                    //success
                },
                error: function (error) {
                    console.log("Error: " + error);
                }
            })
        });

        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
}

<hgroup>
    <h1>Peer-To-Peer Learning - Login</h1>
    <h3>By Meth Overflow</h3>
</hgroup>
<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="group">
        <input asp-for="User.UserName" type="text" placeholder="Username"><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
        <input id="password-field" asp-for="User.Password" type="password" placeholder="Password"><span class="highlight"></span><span class="bar"></span>
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <button type="submit" class="button buttonBlue">
        Login
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <div class="container">
        Don&#39;t have an account? <a asp-area="" asp-page="/SignUp">Sign Up</a>
    </div>
    @Html.AntiForgeryToken()
</form>